.track {
  background-color: var(--bg-color);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: minmax(min-content, max-content);
  border-bottom: 1px solid rgb(225, 223, 223);
}
